*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family:sans-serif;
}
body
{
    background-color: rgb(49, 49, 49);
}
#main 
{
    width: 100%;
    padding: 30px 10px;
}
.main-div 
{
    max-width: 720px;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 40px 0px;
    background-color:black;
    border-radius: 10px;
}
.sign-up
{
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.logo img 
{
    width: 100%;
}
.heading h2
{
    color: white;
    font-size: 36px;
    text-align:center;
}
.email
{
    margin-top:10px;
    padding-bottom:20px;
}
.email form
{
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.spc 
{
    margin-bottom:20px;
}
.spc2 
{
    padding-bottom:10px;
}
.spc3 
{
    margin-top:40px;
}
.email form h2
{
    color: white;
    font-size: 15px;
    margin-bottom: 0px;
}
.email form input 
{
    padding: 20px 15px;
    background-color: transparent;
    border:none;
    border: 1px solid #ccc;
    width: 300px;
    color: white;
    border-radius: 5px;
}
.email form input:hover 
{
    border: 1px solid white;
}
.email form h3
{
    text-align: center;
}
.email form h3 a
{
    border-bottom: 1px solid white;
    color:white;
    font-size: 13px;
}
.email form button 
{
    padding: 15px 0px;
    border-radius: 30px;
    background-color:#19AF47;
    border: none;
    font-size: 17px;
    font-weight: bolder;
    cursor: pointer;
    margin-top: 20px;
}
.email form button:hover
{
    background-color:#16B560 ;
}
.butn
{
    padding-top:00px;
    display: flex;
    flex-direction: column;
    padding-bottom:30px;
    border-bottom: 1px solid white;
}
.butn button 
{
    padding: 15px 40px;
    border-radius: 30px;
    background-color:transparent;
    border: none;
    outline: 1px solid #ccc;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom:10px;
}
.butn button:hover 
{
    outline:2px solid white;
}
.goo
{
    color: yellow;
    font-size: 18px;
}
.fb 
{
    color:#1877F2;
    font-size: 18px;
}
.aple 
{
    font-size: 18px;
}
.copy-right h3
{
    color: #ccc;
    text-align: center;
    font-size: 14px;
}
.copy-right h3>span>a
{
    color: white;
    border-bottom: 1px solid white;
}
.copy-right p 
{
    color: #ccc;
    font-size: 12px;
    text-align:center;
    margin-top:30px;
    line-height:20px;
}
.copy-right p>span>a
{
    color: white;
    border-bottom: 1px solid white;
    word-spacing:5px;
}
.pass
{
    position: relative;
}
.eye
{
    position: absolute;
    color: white;
    bottom:25%;
    right: 5%;
    cursor: pointer;
}